body {
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

h1 {
  font-size: 35px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 16px;
  line-height: 12px;
  color: #fff;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.button {
  display: block;
  padding: 11px 22px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-shadow: 0 2px 5px rgba(160,32,11,.76);
  background: #f26843;
  background: linear-gradient(to bottom,#f26843 0,#e74a35 100%);
  border-radius: 25px;
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
  cursor: pointer;
  color: #ffffff;
}

.button:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.wrapper-menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: 10px;
  display: block;
}

.left-side-wrapper-menu {
  display: flex;
  margin-top: 10px;
  justify-content: flex-start;
}

.site-menu {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  width: 400px;
  display: flex;
  list-style: none;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 18px;
}

.site-menu-section a{
  padding: 7px 13px;
  display: block;
  border-radius: 25px;
}

.site-menu-section span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-menu-section a:hover {
  background: #fff;
  color: #000;
}

.site-menu-section a:active {
  background-color: #ededed;
  color: #333333;
  box-shadow: inset 0 2px 0 1px #696969;
}

.site-menu-list a:hover {
  background: #fbded8;
  color: #323232;
}

.site-menu-list a:active {
  background: #f6b5a5;
  color: #323232;
  box-shadow: none;
}

.site-menu-list {
  display: none;
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 35px;
  background-color: #f8f7f4;
  border-radius: 5px;
  width: 144px;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  box-shadow: 0 18px 35px rgba(0,0,0,0.5);
  z-index: 30;
}

.site-menu-list a {
  color: #323232;
  border-radius: 0;
  padding: 9px 20px;
}

.site-menu-list .site-menu-link-new {
  font-weight: 700;
  padding: 10px 20px;
  position: relative;
}

.site-menu-link-new::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 127px;
  height: 1px;
  background-color: #d1d0ce;
}

.site-menu-catalog {
  position: relative;
}

.site-menu-catalog:hover > ul {
  display: block;
}

.user-menu {
  display: flex;
  list-style: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  margin-top: 23px;
}

.user-menu li {
  position: relative;
}

.user-menu-link {
  background: #a0b4a9;
  margin-left: 10px;
  border-radius: 25px;
  display: block;
  padding: 8px 14px;
}

.user-menu-link:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.user-menu-link:hover path {
  fill: #000;
}

.user-menu-link:hover g {
  fill: #000;
}

.search {
  display: none;
  position: absolute;
  right: 0;
  width: 342px;
  background-color: #f8f7f4;
  padding: 20px 15px;
  border-radius: 5px;
  box-sizing: border-box;
  z-index: 30;
}

.form-group {
  position: relative;
}

.form-label {
  position: absolute;
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  top: 13px;
  left: 15px;
}

.form-input {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.form-input:hover {
  border: 1px solid #c7c6c5;
}

.form-input:focus {
  border-color: #8fbdec;
}

.form-input:focus + label {
  color: #5b9ddf;
  font-size: 11px;
  line-height: 13px;
  top: -15px;
  transition: top 0.2s ease-out;
}

.user-menu-search {
  position: relative;
}

.user-menu-search:hover > .search {
  display: block;
}

.user-menu-search a {
  padding: 7px;
  font-size: 0;
}

.sign-in {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f8f7f4;
  width: 280px;
  box-sizing: border-box;
  padding: 20px 20px;
  border-radius: 5px;
  z-index: 30;
}

.sign-in .form-input {
  margin-bottom: 20px;
}

.form-wrapper {
  display: flex;
  align-items: flex-start;
}

.form-link-wrapper {
  margin-left: 20px;
}

.form-link-wrapper .form-link {
  background-color: transparent;
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
  padding: 0;
  display: block;
}

.form-link-wrapper .form-link:hover  {
  color: #e84d37;
}

.user-menu-login {
  position: relative;
}

.user-menu-login:hover .sign-in {
  display: block;
}

.user-menu-login a {
  position: relative;
  padding-left: 21px;
  padding-right: 16px;
}

.user-menu-login svg {
  display: inline-block;
  vertical-align: middle;
}

.user-menu-cart {

}

.user-menu-cart a {
  position: relative;
  padding-left: 20px;
  padding-right: 35px;
}

.user-menu-cart svg {
  display: inline-block;
  vertical-align: middle;

}

.timetable {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 700;
  margin-top: -6px;
}

.phone-number {
  font-size: 22px;
  font-weight: 700;
}

.promo {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
  align-items: flex-start;
}

.promo-item h1 {
  margin-top: 0;
}

.promo-berry {
  background: #b3234c url("../img/rawberrie-banner.png") no-repeat;
  margin-right: 26px;
}

.promo-chocolate {
  background: #7e594c url("../img/chocolate-banner.png") no-repeat;
}

.promo-item {
  border-radius: 15px;
  padding: 20px;
  width: 560px;
  font-weight: 700;
  background-size: cover;
}

.promo-button {
  padding: 11px 24px;
  border-radius: 25px;
  float: right;
  margin-top: 46px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.catalog {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 30px;
}

.popular {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 35px;
}

.popular-wrapper {
  display: flex;
}

.catalog-item {
  width: 267px;
  margin-right: 26px;
  text-align: center;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-title {
  line-height: 22px;
}

.price {
  font-size: 45px;
  line-height: 45px;
}

.price-wrapper {
  margin-top: -60px;
  text-align: left;
}

.count-size {
  font-size: 30px;
  line-height: 45px;
}

.catalog-item h2 {
  text-decoration: underline;
  margin: 0;
  margin-top: 20px;

}

.about-us {
  background: #eee2c9 url("../img/wafle.jpg");
  border-radius: 15px;
  color: #323232;
  margin-bottom: 40px;
  padding: 30px 30px 25px 20px;
}

.about-us-description {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 23px;
  line-height: 30px;
}

.about-us ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-us li {
  list-style: none;
  width: 531px;
  padding-left: 55px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  position: relative;
  line-height: 22px;
}

.about-us li::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-us-ice-cream::before {
  background-image: url("../img/ice-cream.svg");
}

.about-us-cow::before {
  background-image: url("../img/cow.svg");
}

.about-us-natural::before {
  background-image: url("../img/eco.svg");
}

.about-us-thermometer::before {
  background-image: url("../img/thermometer.svg");
}

.about-us li:nth-child(3),
.about-us li:nth-child(4) {
  margin-bottom: 0;
}

.bottom-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 40px;
  align-items: flex-start;
}

.our-blog {
  width: 560px;
  margin-right: 26px;
  background: #ffffff url("../img/strawberry.png") no-repeat;
  border-radius: 15px;
  color: #323232;
  padding: 22px 20px;
  box-sizing: border-box;
  min-height: 220px;
}

.our-blog span {
  font-size: 16px;
  line-height: 22px;
}

.our-blog a {
  text-decoration: underline;
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  max-width: 284px;
  color: #323232;
  margin-top: 4px;
}

.subscribe {
  width: 560px;
  color: #5a5a5a;
  line-height: 22px;
  font-size: 16px;
  box-sizing: border-box;
  background-image: repeating-linear-gradient(-45deg, #fff 5px, #fff 9px, #FE9E90 10px, #FE9E90 14px, #fff 15px, #fff 19px, #92CDFF 20px, #92CDFF 25px);
  padding: 5px;
  border-radius: 15px;
}

.subscribe-wrapper {
  padding: 29px 20px 35px;
  background: #f8f7f4;
}

.subscribe form {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.subscribe input {
  padding: 10px 13px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
  width: 369px;
}

.subscribe button {

}

.map {
  margin-left: -27px;
  position: relative;
}

.address {
  width: 304px;
  background-color: #fff;
  color: #323232;
  padding: 30px 25px;
  border-radius: 15px;
  position: absolute;
  top: 60px;
  right: 0;
  box-sizing: border-box;
}

.address span,
.address b {
  display: block;
}

.address b {
  font-size: 18px;
  line-height: 24px;
}

.address span {
  font-size: 14px;
  line-height: 20px;
}

.address span:first-child {
  max-width: 150px;
}

.address .address-margin {
  margin-bottom: 20px;
}

.address button {
  margin-top: 28px;
  padding: 10px 31px;
}

.main-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-net {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 218px;
  padding: 0;
}

.social-net li {
  position: relative;
  margin-right: 15px;
  border: 2px solid #c2cec7;
  border-radius: 20px;
  width: 32px;
  height: 32px;
}

.site-info {
  margin: 0;
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
  width: 310px;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  font-size: 13px;
  line-height: 18px;
}

.site-info li {
  min-width: 145px;
}

.heart-icon {
  position: relative;
}

.heart-icon::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -24px;
  width: 15px;
  height: 15px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright {
  font-size: 13px;
  margin-left: auto;
  padding: 15px 0;
}

.copyright a {
  text-decoration: underline;
}

.copyright-image {
  display: block;
}

.form {
  display: none;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  width: 900px;
}

.price-controls {
  display: flex;
}

.price-controls input {
  width: 30px;
}

.filter-item-fat {
  display: flex;
  list-style: none;
  background-color: #a6b7ae;
  border: none;
  border-radius: 25px;
}

.filter-item-products {
  display: flex;
  list-style: none;
  background-color: #a6b7ae;
  border-radius: 25px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 15px;
}

.filter-item-price {
  width: 230px;
}

.filter-item select {
  padding: 8px 36px 8px 13px;
  border-radius: 20px;
  margin-right: 15px;
  color: #fff;
  border: none;
  vertical-align: center;
  cursor: pointer;
  height: 36px;
  background-color: rgba(248,247,244,.2);
}

.filter-item legend {
  margin: 0;
  padding: 0 0 5px 17px;
}

.button-accept {
  border-radius: 25px;
  width: 147px;
  background-color: #a6b7ae;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}

.other-filters {
  display: flex;
}

.site-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.slider {
  position: relative;
  padding-top: 275px;
  margin-bottom: 40px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  border-radius: 100px;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}
