body {
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
  min-width: 1200px;
}

body > input[type="radio"] {
  display: none;
}

h1 {
  font-size: 35px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 16px;
  line-height: 12px;
  color: #fff;
  font-weight: 500;
}

p {
  margin: 0;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.button {
  display: block;
  padding: 11px 22px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0, #e74a35 100%);
  border-radius: 25px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", "Arial", sans-serif;
}

.button:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.main-header {
  position: relative;
}

.wrapper-menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: 10px;
  display: block;
}

.left-side-wrapper-menu {
  display: flex;
  margin-top: 10px;
  justify-content: flex-start;
}

.site-menu {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  width: 400px;
  display: flex;
  list-style: none;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 18px;
}

.site-menu-section a {
  padding: 7px 13px;
  display: block;
  border-radius: 25px;
}

.site-menu-section span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-menu-section a:hover {
  background: #fff;
  color: #000;
}

.site-menu-section a:active {
  background-color: #ededed;
  color: #333333;
  box-shadow: inset 0 2px 0 1px #696969;
}

.site-menu-list a:hover {
  background: #fbded8;
  color: #323232;
}

.site-menu-list a:active {
  background: #f6b5a5;
  color: #323232;
  box-shadow: none;
}

.site-menu-list {
  display: none;
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 35px;
  background-color: #f8f7f4;
  border-radius: 5px;
  width: 144px;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.5);
  z-index: 30;
}

.site-menu-list a {
  color: #323232;
  border-radius: 0;
  padding: 9px 20px;
}

.site-menu-list .site-menu-link-new {
  font-weight: 700;
  padding: 10px 20px;
  position: relative;
}

.site-menu-link-new::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 127px;
  height: 1px;
  background-color: #d1d0ce;
}

.site-menu-catalog {
  position: relative;
}

.site-menu-catalog:hover > ul {
  display: block;
}

.site-menu-catalog-active > a {
  background-color: #d07058;
}

.site-menu-catalog-active span {
  border: none;
}

.site-menu-catalog::after {
  content: "";
  position: absolute;
  display: block;
  background-color: transparent;
  width: 100%;
  height: 10px;
  bottom: -7px;
  left: 0;
}

.site-menu-link-active a {
  background-color: #d07058;
  color: #ffffff;
}

.user-menu {
  display: flex;
  list-style: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  margin-top: 23px;
}

.user-menu li {
  position: relative;
}

.user-menu-link {
  background: rgba(255, 255, 255, 0.21);
  margin-left: 10px;
  border-radius: 25px;
  display: block;
  padding: 8px 14px;
}

.user-menu-link:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.user-menu-link:hover path {
  fill: #000;
}

.user-menu-link:hover g {
  fill: #000;
}

.search {
  display: none;
  position: absolute;
  right: 0;
  width: 342px;
  background-color: #f8f7f4;
  padding: 20px 15px;
  border-radius: 5px;
  box-sizing: border-box;
  z-index: 30;
  top: 35px;
}

.form-group {
  position: relative;
}

.form-label {
  position: absolute;
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  top: 13px;
  left: 15px;
}

.form-input {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.form-input:hover {
  border: 1px solid #c7c6c5;
}

.form-input:focus {
  border-color: #8fbdec;
}

.form-input:focus + label {
  color: #5b9ddf;
  font-size: 11px;
  line-height: 13px;
  top: -15px;
  transition: top 0.2s ease-out;
}

.user-menu-search {
  position: relative;
}

.user-menu-search:hover > .search {
  display: block;
}

.user-menu-search a {
  padding: 7px;
  font-size: 0;
}

.user-menu-search::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  right: 0;
  background-color: transparent;
  width: 100%;
  height: 10px;
}

.sign-in {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f8f7f4;
  width: 280px;
  box-sizing: border-box;
  padding: 20px 20px;
  border-radius: 5px;
  z-index: 30;
  top: 40px;
}

.sign-in .form-input {
  margin-bottom: 20px;
}

.form-wrapper {
  display: flex;
  align-items: flex-start;
}

.form-link-wrapper {
  margin-left: 20px;
}

.form-link-wrapper .form-link {
  background-color: transparent;
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
  padding: 0;
  display: block;
}

.form-link-wrapper .form-link:hover {
  color: #e84d37;
}

.user-menu-login {
  position: relative;
}

.user-menu-login:hover .sign-in {
  display: block;
}

.user-menu-login a {
  position: relative;
  padding-left: 21px;
  padding-right: 16px;
}

.user-menu-login svg {
  display: inline-block;
  vertical-align: middle;
}

.user-menu-login::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  right: 0;
  background-color: transparent;
  width: 100%;
  height: 10px;
}

.user-menu-cart a {
  position: relative;
  padding-left: 20px;
  padding-right: 35px;
}

.user-menu-cart svg {
  display: inline-block;
  vertical-align: middle;
}

.user-menu-cart-full {
  position: relative;
}

.user-menu-cart-full a {
  background-color: #f7f6f3;
  color: #323232;
  padding-left: 18px;
  padding-right: 18px;
}

.user-menu-cart-full::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  right: 0;
  background-color: transparent;
  width: 100%;
  height: 10px;
}

.cart {
  display: none;
  background-color: #f8f7f4;
  width: 540px;
  position: absolute;
  right: 0;
  border-radius: 5px;
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.5);
  color: #323232;
  padding: 20px 13px 20px;
  box-sizing: border-box;
  z-index: 30;
  text-align: right;
  top: 40px;
}

.user-menu-cart-full:hover > .cart {
  display: block;
}

.cart-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.cart-list::after {
  content: "";
  background-color: #cacac7;
  width: 100%;
  height: 1px;
  display: block;
  margin-top: 15px;
}

.cart-item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 16px;
}

.cart-item:last-child {
  margin-bottom: 0;
}

.cart-remove {
  font-size: 0;
  display: block;
  width: 11px;
  height: 11px;
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 11px;
}

.cart-remove::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 1px;
  left: 0;
  top: 5px;
  background-color: #231f20;
  transform: rotate(45deg);
}

.cart-remove::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 1px;
  left: 0;
  top: 5px;
  background-color: #231f20;
  transform: rotate(-45deg);
}

.cart-item img {
  margin-right: 15px;
}

.cart-product-name {
  width: 216px;
  margin-right: 32px;
  margin-top: 11px;
}

.cart-quantity {
  margin-right: 27px;
  margin-top: 11px;
}

.cart-quantity span {
  color: #999999;
}

.cart-product-price {
  margin-top: 11px;
}

.total-price {
  text-align: right;
  padding: 15px 0;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.cart button {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 20px;
  vertical-align: top;
}

.timetable {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 700;
  margin-top: -6px;
  position: absolute;
  right: 0;
}

.phone-number {
  font-size: 22px;
  font-weight: 700;
}

.promo {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
  align-items: flex-start;
}

.promo-item h3 {
  margin: 0;
  margin-bottom: 13px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promo-berry {
  background: #b3234c url("../img/rawberrie-banner.png") no-repeat;
  margin-right: 26px;
}

.promo-chocolate {
  background: #7e594c url("../img/chocolate-banner.png") no-repeat;
}

.promo-item {
  border-radius: 15px;
  padding: 20px;
  width: 560px;
  font-weight: 700;
  background-size: cover;
}

.promo-button {
  padding: 11px 24px;
  border-radius: 25px;
  float: right;
  margin-top: 46px;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
}

.popular {
  display: flex;
  justify-content: flex-start;
  margin-bottom: -15px;
}

.popular-wrapper {
  display: flex;
}

.popular .catalog-item {
  position: relative;
  margin-bottom: 0;
}

.popular .catalog-item::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  z-index: 5;
  background: url("../img/hit.svg") 0 0 no-repeat;
}

.catalog {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  font-weight: 400;
  margin-top: 18px;
  margin-bottom: 9px;
}

.breadcrumbs li {
  margin-right: 20px;
  position: relative;
}

.breadcrumbs li::after {
  content: "»";
  display: block;
  position: absolute;
  color: #ffffff;
  right: -13px;
  top: 0;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

.breadcrumbs-current a {
  border: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
   color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.2);
}

.breadcrumbs-current a:hover,
.breadcrumbs-current a:active {
  color: #ffffff;
}

.page-title {
  margin-bottom: 35px;
}

.pagination {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 50px;
  padding-bottom: 33px;
}

.pagination li {
  margin-right: 4px;
}

.pagination a {
  padding: 3px 8px;
  border-radius: 25px;
}

.pagination a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.pagination a:active {
  background-color: rgb(255, 255, 255);
  color: #323232;
}

.pagination-current a {
  background-color: #ffffff;
  color: #323232;
}

.pagination-previous a,
.pagination-next a {
  font-size: 0;
  display: block;
  padding: 5px;
  width: 8px;
  height: 12px;
  background: url("../img/icon-right-small.svg") center no-repeat;
}

.pagination-next {
  margin-left: 3px;
  margin-right: 0;
}

.pagination-next a {
  padding-right: 0;
}

.pagination-previous a {
  transform: rotate(180deg);
}

.pagination-disabled {
  opacity: 0.4;
}

.pagination-previous a:hover,
.pagination-next a:hover {
  background-color: transparent;
}

.catalog-item {
  width: 267px;
  margin-right: 26px;
  text-align: center;
  position: relative;
  margin-bottom: -15px;
}

.catalog-item:hover::after {
  content: "";
  position: absolute;
  padding: 10px;
  top: -6px;
  left: -13px;
  right: -13px;
  bottom: -21px;
  z-index: 1;
  display: block;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(248, 247, 244, 0.3);
  opacity: 0.5;
  border-radius: 5px;
}

.catalog-item .button {
  width: 168px;
  margin: 0 auto;
  visibility: hidden;
  margin-top: 6px;
  padding: 11px 18px;
}

.catalog-item a {
  position: relative;
  display: block;
}

.catalog-item h3 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
  display: inline;
}

.catalog-item:hover a {
  z-index: 2;
}

.catalog-item:hover h3 {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.catalog-item:hover .button {
  visibility: visible;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-title {
  line-height: 22px;
  max-width: 256px;
  min-height: 43px;
  margin: 0 auto;
  margin-bottom: 7px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.price {
  font-size: 45px;
  line-height: 45px;
}

.price::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 40px;
  margin-left: 5px;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.price-wrapper {
  margin-top: -62px;
  text-align: left;
  z-index: 3;
  position: relative;
  margin-bottom: 20px;
}

.count-size {
  font-size: 30px;
  line-height: 45px;
}

.about-us {
  background: #eee2c9 url("../img/wafle.jpg");
  border-radius: 15px;
  color: #323232;
  margin-bottom: 37px;
  padding: 30px 30px 25px 20px;
}

.about-us-description {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 23px;
  line-height: 30px;
}

.about-us ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-us li {
  list-style: none;
  width: 531px;
  padding-left: 55px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  position: relative;
  line-height: 22px;
}

.about-us li::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-us-ice-cream::before {
  background-image: url("../img/ice-cream.svg");
}

.about-us-cow::before {
  background-image: url("../img/cow.svg");
}

.about-us-natural::before {
  background-image: url("../img/eco.svg");
}

.about-us-thermometer::before {
  background-image: url("../img/thermometer.svg");
}

.about-us li:nth-child(3),
.about-us li:nth-child(4) {
  margin-bottom: 0;
}

.bottom-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 40px;
  align-items: flex-start;
}

.our-blog {
  width: 560px;
  margin-right: 26px;
  background: #ffffff url("../img/strawberry.png") no-repeat;
  border-radius: 15px;
  color: #323232;
  padding: 22px 20px;
  box-sizing: border-box;
  min-height: 220px;
}

.our-blog span {
  font-size: 16px;
  line-height: 22px;
}

.our-blog a {
  text-decoration: underline;
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  max-width: 284px;
  color: #323232;
  margin-top: 4px;
}

.our-blog a:hover,
.our-blog a:active {
  color: #e84d37;
}

.subscribe {
  width: 560px;
  color: #5a5a5a;
  line-height: 22px;
  font-size: 16px;
  box-sizing: border-box;
  background-image: repeating-linear-gradient(-45deg, #fff 5px, #fff 9px, #FE9E90 10px, #FE9E90 14px, #fff 15px, #fff 19px, #92CDFF 20px, #92CDFF 25px);
  padding: 5px;
  border-radius: 15px;
}

.subscribe-wrapper {
  padding: 29px 20px 35px;
  background: #f8f7f4;
}

.subscribe form {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.subscribe input {
  padding: 13px 13px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
  width: 369px;
}

.subscribe button {

}

.map {
  position: relative;
  background-color: #F6F0E1;
  height: 430px;
}

.map img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 430px;
  width: 1200px;
  margin: 0 auto;
}

.map .content-wrapper {
  position: relative;
}

.map iframe {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 430px;
  border: none;
}

.address {
  width: 304px;
  background-color: #fff;
  color: #323232;
  padding: 30px 25px;
  border-radius: 15px;
  position: absolute;
  top: 60px;
  right: 50%;
  transform: translateX(573px);
  box-sizing: border-box;
  z-index: 3;
}

.address span,
.address b {
  display: block;
}

.address b {
  font-size: 18px;
  line-height: 24px;
}

.address span {
  font-size: 14px;
  line-height: 20px;
}

.address span:first-child {
  max-width: 150px;
}

.address .address-margin {
  margin-bottom: 20px;
}

.address button {
  margin-top: 28px;
  padding: 10px 28px;
}

.main-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-net {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 218px;
  padding: 0;
  margin-top: 15px;
}

.social-net li {
  margin-right: 15px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 32px;
  height: 32px;
}

.social-item a {
  font-size: 0;
  display: block;
  position: relative;
}

.social-item a::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social-twitter a::after {
  background-image: url("../img/twitter.svg");
}

.social-instagram a::after {
  background-image: url("../img/instagram.svg");
}

.social-facebook a::after {
  background-image: url("../img/fb.svg");
}

.social-vkontakte a::after {
  background-image: url("../img/vk.svg");
}

.social-item a:hover::after {
  opacity: 1;
}

.social-item:active {
  border-color: rgba(255, 255, 255, 0.7);
}

.site-info {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  width: 310px;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  font-size: 13px;
  line-height: 18px;
  margin-top: 13px;
}

.site-info li {
  min-width: 145px;
}

.site-info a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.site-info a:hover,
.site-info a:active {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.2);
}

.heart-icon {
  position: relative;
}

.heart-icon::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -24px;
  width: 15px;
  height: 15px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright {
  font-size: 13px;
  margin-left: auto;
  padding: 15px 0;
}

.copyright-image {
  display: block;
  margin-left: 15px;
}

.htmlacademy-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.htmlacademy-link:hover,
.htmlacademy-link:active {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.2);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 23px;
  width: 900px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 15px;
}

.filter-item legend {
  margin: 0;
  padding: 0 0 5px 17px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.select-wrapper {
  position: relative;
}

.select-wrapper svg {
  position: absolute;
  right: 30px;
  top: 15px;
}

.select-wrapper:hover path {
  fill: #323232;
}

.filter-item select {
  padding: 8px 36px 8px 13px;
  border-radius: 20px;
  margin-right: 15px;
  color: #fff;
  border: none;
  vertical-align: center;
  cursor: pointer;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.filter-item select:hover {
  color: #323232;
  background-color: #ffffff;
}

.filter-item-price {
  width: 230px;
}

.filter-item-price legend {
  float: left;
}

.price-controls {
  display: flex;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.price-controls input {
  width: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #ffffff;
}

.range-controls {
  position: relative;
  margin: 0 13px 0 0;
  padding: 16px 15px;
  background: rgba(248, 247, 244, .2);
  border-radius: 20px;
}

.scale {
  width: 190px;
  height: 4px;
  background: rgba(248, 247, 244, .5);
}

.bar {
  position: absolute;
  left: 36px;
  width: 111px;
  height: 4px;
  background: #f8f7f4;
}

.toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  top: 8px;
  left: 0;
  cursor: pointer;
  background-color: transparent;
}

.toggle-min {
  left: 29px;
}

.toggle-max {
  left: 127px;
}

.toggle:hover {
  transform: scale(1.05);
}

.filter-item-fat {
  display: flex;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 25px;
  margin: 0;
  padding: 11px 0 8px 16px;
}

.filter-group {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter-label {
  position: relative;
  cursor: pointer;
  text-transform: lowercase;
}

.filter-group-radio .filter-label {
  padding-left: 33px;
  margin-right: 15px;
}

.filter-item input[type="radio"] + label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  left: 0;
  top: -1px;
  box-sizing: border-box;
}

.filter-item input[type="radio"] + label:hover::before {
  border-color: #ffffff;
}

.filter-item input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.filter-item input[type="radio"]:checked + label:hover::after {
  background-color: #ffffff;
}

.filter-item-products {
  display: flex;
  list-style: none;
  background-color: #a6b7ae;
  border-radius: 25px;
  padding: 11px 0 8px 16px;
  margin: 0;
  margin-right: 15px;
}

.filter-group-checkbox .filter-label {
  padding-left: 32px;
  margin-right: 20px;
}

.filter-item input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../img/checkbox-off.svg") 0 0 no-repeat;
  opacity: 0.8;
  border-radius: 3px;
  left: 1px;
  top: -2px;
  box-sizing: border-box;
}

.filter-item input[type="checkbox"] + label:hover::before {
  opacity: 1;
}

.filter-item input[type="checkbox"]:checked + label::before {
  background: url("../img/checkbox-on.svg") 0 0 no-repeat;
}

.filter-item input[type="checkbox"]:disabled + label,
.filter-item input[type="radio"]:disabled + label {
  opacity: 0.4;
}

.button-accept {
  border-radius: 25px;
  width: 147px;
  background-color: #a6b7ae;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  padding: 5px 0;
  margin-top: 4px;
}

.button-accept:hover {
  background-color: #fbfcfb;
  color: #323232;
}

.button-accept:active {
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.5);
  background-color: #eaeaea;
}

.other-filters {
  display: flex;
}

.site-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.slider {
  position: relative;
  padding-top: 311px;
  margin-bottom: 40px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 715px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  border-radius: 100px;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.form {
  display: none;
  position: fixed;
  top: 150px;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0 auto;
  background-color: #f8f7f4;
  border-radius: 6px;
  width: 475px;
  padding: 18px 23px;
  box-shadow: 0 10px 56px rgba(0,0,0,.7);
  box-sizing: border-box;
  text-align: right;
}

.form p {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  margin-bottom: 17px;
  font-weight: 500;
  text-align: left;
}

.form .form-group {
  margin-bottom: 19px;
}

.form input {
  width: 268px;
  display: block;
}

.form textarea {
  height: 155px;
  padding: 10px 13px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
  resize: none;
}

.form button {
  display: inline-block;
  vertical-align: top;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 20px;
  display: block;
  width: 24px;
  height: 24px;
  font-size: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.close-button::before,
.close-button::after {
  content: "";
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background: #353535;
  top: 0;
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}
