body {
  line-height: 12px;
  color: #fff;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 35px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 16px;
  line-height: 12px;
  color: #fff;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

